@media screen and (max-width: 1199px) { 
	
	.wtlp li {
    max-width: 182px;
}

section.history-area.hr-aa-padd{
	display: none;
}

.ab-us.klc-facts .swipy-rw {
    height: 251px;
}

.klc-facts .conts-1 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #059c98;
    margin-top: 15px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 11px;
    max-height: 99px;
    overflow: hidden;
}

body .plm-ml .w20s .pdlsw {
    padding-right: 5px !important;
}


.sert-no-show {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #22b9b5;
    color: #fff;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    font-size: 12px;
    font-family: Arial;
    line-height: 1.3em;
}
	
	.htl-area {
    padding-left: 14px;
}
	
	.uvi-menu .padded-multiline h5 {
    padding: 7px 0 6px;
}
	
	p.partns {
    margin-top: 15px !important;
}

.plm-ml .w20s .pdlsw{
	padding: 15px !important;
}
	
	.vds-a-2 p {
    font-size: 14px;
    font-family: Arial;
    text-align: center;
    line-height: 1.5em;
}
	
	.nbv-sp h2:before, .nbv-sp h2:after{
		display: none !important;
	}
	
	.ots-area h2:before, .ots-area h2:after{
		display: none;
	}
	
	.splits .fll, .splits .flr{
		padding-left: 40px;
		padding-right: 40px;
	}

section.bg-cls.nav.navbar-nav.bg-srt ul.nav.navbar-nav {
    position: relative;
    right: auto;
    width: 100%;
    text-align: left;
    float: left;
}	

section.bg-cls.nav.navbar-nav.bg-srt {
    width: 100%;
    float: left;
    margin: 0;
}

section.bg-cls.nav.navbar-nav.bg-srt .nav>li {
    position: relative;
    display: block;
    float: left;
}

section.bg-cls.nav.navbar-nav.bg-srt .caret{
	display: none;
}

	
.conts-1 h3 {
    font-size: 67px;
}
	.bnmg {
    padding-bottom: 71px;

}.plf-area {
    clear: both;
    margin-bottom: 15px;
}
.lv-10 {
    width: 13%;
    margin-right: 14px;
}

.lv-25 {
    width: 22%;
}
.brr-no{
	display: none;
}

section.section-main-3.section-main-nbvs .bzns {
    height: 336px;
}

.section-main-nbvs .crda .bnz {
    padding: 15px;
}

.stpl {
    height: 244px;
    margin-bottom: 15px;
}

.height-ns img {
    height: 365px;
}

.ul-preims ul li {
    padding: 0 24px;
    margin: 0 0px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    float: none !important;
    width: 188px;
}

.ulk-ty p {
    text-align: center;
    color: #595959;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.xpl-section {
    padding-top: 106px !important;
}

.fll-rh{
	display: none;
}

.flr-rh {
    width: 100%;
    float: right;
}



.wl-block-sl-left .h1-area, .wl-block-sl-right .h1-area {
    padding-left: 0 !important;
      padding-right: 0 !important;
}

.bg-lks ul li {
    width: 226px;
}

.bg-lks p {
    font-size: 20px;
}

.tags-n .padded-multiline {
    float: left;
    padding-top: 0px;
    padding-bottom: 4px;
    margin-top: 0;
    border-left: 20px solid #fff;
}



.gty .padded-multiline, .padded-multiline.msv {
    padding: 7px 0 6px !important;
}

.company-menu {
    width: 380px;
}

.pdlsw {
    height: 392px;
    overflow: hidden;
}

.hts4, .hts5 {
    height: 269px;
}

.hts3.pdlsw {
    height: 550px;
}

a.buttons {
    position: absolute;
    right: 15px;
    bottom: -1px;
    background: #2FB4AF;
    padding: 17px;
    color: #fff;
    text-decoration: none;
    padding-right: 43px;
    padding-left: 16px;
    width: 182px;
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 53px;
}

.bnz h4 {
    font-size: 10px;
}

a.button-nst {
    left: -121px !important;
}

.section-main-9 .slick-next {
    background: url(../img/dfr.png) 0 0 no-repeat !important;
    background-position: center !important;
    right: -29px;
    top: 35%;
}

.section-main-9 .slick-prev {
    background: url(../img/dfl.png) 0 0 no-repeat !important;
    background-position: center !important;
    left: -27px;
     top: 35%;
}

.cont-bl-1 {
    margin-top: 16px;
}

.cont-bl-1 p {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.cont-bl-1 p a {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    text-decoration: none;
}

.cv3:before {
    content: '';
    position: absolute;
    width: 31px;
    height: 34px;
    background: url(../img/cv3.png) 0 0 no-repeat;
    margin-left: 10px;
    margin-top: -10px;
    background-position: 0;
    right: auto;
    top: 4px;
    left: -52px;
}
.rasp-area p.pb1 {
    margin-bottom: 15px;
}

.vsl1 {
    font-size: 16px !important;
}

button.buttons-w {
    position: relative;
    background: #2FB4AF;
    padding: 17px;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 42px;
    border: 0;
    padding-top: 4px;
    margin-top: 0px;
    border-radius: 4px;
    line-height: 16px;
}

.vsl3 {
    width: 28.4%;
    float: left;
    border: 0;
    margin-top: -19px;
    padding-left: 19px;
    box-sizing: border-box !important;
}

.rasp-area p {
    font-family: 'Arial';
    font-size: 12px;
    color: #fff;
    text-align: left;
    font-weight: normal !important;
    padding-left: 40px;
    position: relative;
}

.cl1:after, .cl2:after, .cl3:after, .cl4:after   {
    right: 5px;
}

section.section-main-13 p {
    font-size: 19px;
    margin-top: 2px;
}

.bnz p {
    font-size: 12px;
}

.contacts-area.fll {
    margin-left: 29px;
}

ul.nav.navbar-nav {
    position: absolute;
    right: 15px;
}

.navbar-nav>li>a {
    padding-bottom: 5px;
    text-decoration: none;
    text-align: right !important;
    float: right;
    padding-right: 0;
    padding-left: 11px;
    font-size: 14px;
}

.bzns {
    height: 253px;
}

}

@media screen and (max-width: 991px) {
	
.glbs.swipy-rw.cfr-area-green {
    height: 179px;
    padding-top: 20px;
    padding-left: 19px;
    padding-right: 19px;
}

section.plc-area-p.hr-aa-padd {
    padding-top: 0 !important;
}

section.ab-us.glbs-a {
    margin-top: 20px !important;
}


.part-50 {
    margin-bottom: 20px;
    width: 100% !important;
    padding-top: 14px;
}
	
	.wtlp li {
    max-width: 182px;
    margin-bottom: 14px;
}

.clk-50 {
    width: 100% !important;
}

.clk-50 img {
    border-left: 9px solid #079d99;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
	
	.clke-re .gty {
    position: relative;
    width: 337px;
}

.clke-re .gty img{
	width: 100% !important;
}

.clke-re  .cvlks:before, .clke-re  .cvlks:after {
    margin-left: -82px;
}
	
	.w20s {
    width: 33.33%;
    float: left;
}
	
	section.section-main.content-sections.section-stl .cards-nts.crts {
    width: 71% !important;
    float: left;
    margin-top: 24px;
    height: 276px;
}
	
	section.section-main.content-sections.section-stl .cards-nts.crts {
    width: 71% !important;
    float: left;
    margin-top: 24px;
}

.pan-sv strong {
    margin-left: 45px;
    clear: both;
    display: block;
    margin-left: 26px;
    margin-top: 9px;
}
	
	a.vs-usl {
    margin-top: 28px;
    margin-bottom: 1px;
}
	
	.vds-a-1, .vds-a-2{
		width: 100%;
	}
	
	.art-area h4 {
    font-size: 14px;
} 
	
	section.section-bn .bnz{
		margin-top: 40px;
	}
	
	.bn-area{
		padding-left: 50px;
		padding-right: 50px;
	}
	
	section.real-proj.section-main-9 {
    background: #fff;
    padding-top: 0;
}
	
	.nbv-sp{
		margin-top: 20px;
	}
	
	.lv-10 {
    width: 18%;
    margin-right: 14px;
}

.lv-25 {
    width: 45%;
}

.hst-area {
    height: auto;
    overflow: hidden;
}
.hst-area .more-pl {
    bottom: -41px;
}
.lv-25 img {
    object-fit: cover;
    height: 147px;
    width: 100%;
}

.plf-area a:focus, .plf-area a:hover{
	color: #2EB5B0 !important;
}

.lv-65 {
    width: 100%;
    padding-left: 0;
    position: relative;
    margin-top: 21px;
}
	
	.maxt-wz {
    max-width: 580px;
    padding-top: 37px;
    padding-bottom: 70px;
    background: rgba(255, 255, 255, 0.63);
    padding: 22px;
}

.bnm-rtl {
    background: rgba(145, 145, 146, 0.78);
    padding: 30px;
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 580px;
}
	
	.dbo-nr h3 {
    font-family: "UbuntuLight";
    font-size: 18px;
    color: #595959;
    line-height: 1.3em;
}

.dbo-nr {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
    width: 100%;
    height: 560px;
    padding: 18px;
}

.stpl {
    height: 279px;
    margin-bottom: 15px;
}



.height-ns img {
    height: 283px;
}

.projects-baze .wl-block-sl-left .h1-area a.buttons {
    position: relative;
    padding-right: 45px;
    right: auto;
    bottom: -48px;
    border-radius: 4px;
    font-size: 12px;
}

.ul-preims ul li {
    padding: 0 24px;
    margin: 0 0px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    float: none !important;
    width: 190px;
}

.projects-baze .wl-block-sl-right .h1-area a.buttons {
    position: relative;
    padding-right: 45px;
    right: auto;
    bottom: -48px;
    border-radius: 4px;
    font-size: 12px;
}

.wl-block-sl .h1-area a.buttons {
    bottom: -91px;
}
	
	.bg-lks ul li {
    width: 255px;
}

.bg-lks p {
    font-size: 17px;
    line-height: 19px;
}
	
	.wl-85 {
    width: 72%;
    float: left;
    padding-left: 18px;
}
	.wl-85 .padded-multiline h5 strong {
    font-size: 14px !important;
}

.wl-85 .padded-multiline h5 {
    background: #22B9B5 !important;
    padding: 15px 0px 16px !important;
    color: #fff;
    display: inline;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 7px;
}

.wl-85 .padded-multiline{
	width: 100% !important;
}


	
	
.welk.fll {
    font-family: arial;
    font-size: 13px;
    padding-top: 12px;
    display: none;
}
.contacts-area.fll{
	margin-left: 0;
}

.section-main-9 .slick-next, .section-main-9 .slick-prev {
    top: 40%;
}

ul.nav.navbar-nav {
    position: absolute;
    left: 3px;
    margin-top: 14px;
}

.company-menu {
    width: 294px;
}

.h1-area h1 {
    font-family: "UbuntuLight";
    font-size: 42px;
}

.h1-area h1 span {
    clear: both;
    display: block;
    font-size: 51px;
}

.company-menu a {
    text-decoration: none;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
}

.conts-1 h3 {
    font-size: 49px;
}

.conts-1 p {
    font-size: 14px;
}

.section-main-2 li {
    width: 50%;
}

.slk-sld.slider-st {
    display: none;
}

.cards-nts {
    background: url(../img/nts.png) 0 0 no-repeat;
    width: 65%;
    height: 360px;
    background-size: cover;
    margin-bottom: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

.pdlsw .tags-n h5 strong {
    font-family: 'Arial';
    font-size: 11px;
}

.hts4, .hts5 {
    height: 310px;
}

.hts3.pdlsw {
    height: 632px;
}

.plash-n {
    font-size: 13px;
}

.svl{
	display: none;
}

.slidy a.buttons{
	display: none;
}

.wl-10{
	display: none;
}

.wl-65 {
    width: 78%;
    float: left;
    padding-left: 17px;
}

.coun {
    text-align: center;
    margin-top: 20px;
    padding-left: 30px;
    padding-bottom: 15px;
    display: block;
}

.project-full .coun{
	bottom: 5px !important;
}

.project-full .borders-ns {
    border: 3px solid #2FB4AF;
    padding: 20px;
    width: 100%;
    padding-top: 20px !important;
    padding-bottom: 30px;
    height: 244px;
    position: relative;
}

.borders-ns {
    border: 2px solid #2FB4AF;
    padding: 20px;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 30px;
}

.cards-nts.crts {
    width: 100% !important;
}

.crts .cvdrs {
    height: 319px;
}

.cards-nts.crts2 {
    width: 100% !important;
}

.section-main-8 .cards-nts{
	margin: 10px 0 !important;
}

.contact-30 {
    width: 50%;
}

.contact-35 {
    width: 50%;
}
.contact-25 {
    width: 40%;
    float: left;
    padding-left: 58px;
}

section.section-main-13 p {
    font-size: 19px;
    margin-top: -6px;
    margin-bottom: 10px;
}

.section-main-13 .slick-prev {
    background: url(../img/dfl.png) 0 0 no-repeat !important;
    background-position: center !important;
    left: -11px !important;
}

section.section-main-13 .slick-slide img {
    display: block;
    margin: 0 auto;
}

.cards-nts2.flr{
	display: none;
}

section.section-main-12 textarea {
    height: 168px !important;
}

.vsl2 {
    width: 38.5%;
}

.vsl1 {
    width: 29% !important;
    margin-top: -8px;
}

.crda {
    width: 33.33%;
}

.logo {
    margin-top: -11px;
    width: 180px;
    background-size: contain;
}
}


@media screen and (max-width: 767px) {
	#exTab2sq .tags-n .padded-multiline {
    float: left;
    padding-top: 3px;
    padding-bottom: 4px;
    margin-top: 0;
    border-left: 20px solid #fff;
}
	
	
	.hold-area p {
    font-family: 'Open Sans';
    font-size: 14px;
    padding-top: 20px;
}
	
	.cla-xpl {
    background: #BBF0A1;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 0 !important;
    color: #000;
}

.cla-xpl a{
	text-decoration: none;
}
	
	.ul-area-div.maps-ln {
    padding-bottom: 10px;
}
	
	section.ab-us.klc-facts {
    margin-top: 56px !important;
}

section.ab-us.klc-facts .afl-fct {
    padding-top: 36px;
}

.filials-area{
	padding-bottom: 20px !important;
}
	
	section.lic-sert .col-sm-3 {
    width: 50%;
    float: left;
}

section.section-main.content-sections.about-company-page {
    padding-top: 79px;
}

section.pravl-area.hr-aa-padd {
    padding-bottom: 10px;
}

.about-f1 {
    padding-top: 32px;
    padding-bottom: 0 !important;
    height: 437px;
}

.glbs-a hr {
    margin-top: 22px;
    margin-bottom: 40px;
}

.fills {
    margin-top: 30px;
    margin-bottom: 33px;
}

.ab-us .swipy-rw.cfr-area-green {
    display: block;
    position: relative;
    margin-top: 0;
    margin-bottom: 25px;
}


.tbl-tt {
    padding-left: 0px;
    width: 236px;
}

.partn-area-st .part-50 {
    margin-bottom: 20px;
    width: 100% !important;
    padding-left: 3px;
}
	
	.ots-area .ul-preims .no-show-padd{
	display: none;
    padding-top: 0px;
}
	
	
	body .wl-85 .padded-multiline h5 {
    padding: 13px 0px 17px !important;
}
	
	body .pdlsw .padded-multiline h5 {
    padding: 4px 0 5px !important;
}
	
section.section-main-11 .h1-area .buttons:after {
    margin-top: 18px !important;
}
	
	.cvb-lr{
		padding-bottom: 20px;
	}
	
	.mxt-wz h3{
		margin-top: 50px;
		margin-bottom: 20px;
	}
	
	section.cont-pgg {
    padding-top: 50px;
    padding-bottom: 13px;
}
	
	.cont-pgg .mpl-pa {
		margin-top: 20px;
    margin-bottom: 37px;
}
	
	.htl-area {
    padding-left: 41px;
}
	
	.about-f1, .about-f2{
		width: 100%;
	}
	
.about-f2	.hstr {
    width: 50%;
}

.about-f2 .hstr {
    height: 197px;
    display: flex;
}

.about-f1 .hold-area a:after {
    margin-top: 20px !important;
}

.ab-us {
    margin-top: 35px !important;
    margin-bottom: 18px;
}
	
	.ab-us {
    margin-top: 55px;
    margin-bottom: 18px;
}
	
	.ab-us h4 {
    margin-top: 30px;
}
	
	.w20s {
    width: 50%;
    float: left;
}
	
	section.blt-area {
    padding-bottom: 25px;
}
	
	.search-ntc .button-stls {
    height: 50px;
}

body .nblk-bv {
    padding-bottom: 44px;
}

body .nbvc-section {
    padding-bottom: 32px !important;
}

.project-full {
    margin-bottom: 47px;
}

h2:before, h2:after{
	display: none;
}

section.real-proj.section-main-9 {
    padding-bottom: 15px;
}

.bg-lks{
	padding-bottom: 0 !important;
}

.projects-baze .wl-block-sl-left .h1-area a.buttons:after, .projects-baze .wl-block-sl-right .h1-area a.buttons:after {
    margin-top: 21px !important;
}

.company-group-area{
	padding-bottom: 60px;
}

.nbvc-section{
	padding-bottom: 20px !important;
}

.section-main-8.vid-bg-area{
	padding-bottom: 60px;
}


.accordion.ui-accordion.ui-widget.ui-helper-reset {
    margin-bottom: 60px;
}

.projects-baze.vaks-p {
    margin-bottom: 38px !important;
}

.contact-form-ns.section-main-12 {
    margin-bottom: 50px;
}

.section-main-8.vid-bg-area.white-ntls h2 {
    margin-bottom: 10px !important;
}

.section-main-8.vid-bg-area.white-ntls{
	padding-bottom: 40px !important;
}

.search-ntc input {
    width: 70% !important;
    height: 50px;
}



.porl {
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(../img/vbnm.png) 0 0 no-repeat !important;
    border: 0;
    margin-top: 9px;
    margin-left: 15px;
}

.search-ntc input {
    width: 82%;
    float: left;
    border-radius: 4px;
    padding-left: 57px;
    font-size: 18px;
}
	
	a.buttons.mail-button {
    margin-top: -10px !important;
}
	
	section.real-proj.section-main-9.phx-area {
    margin-top: 22px;
}

section.section-main.content-sections.section-stl {
    padding-top: 85px;
}

.no-offer-area {
    width: 100%;
    float: right;
    margin-top: 0px;
}

section.section-main.content-sections.section-stl .all-prjk {
    margin-top: 4px;
    height: 49px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
}

section.section-main.content-sections.section-stl a.buttons {
    float: left;
    margin-top: -51px !important;
    margin-right: 10px !important;
    width: 164px;
    padding: 0;
    font-size: 14px;
    padding-left: 29px;
    padding-top: 17px;
}

section.section-main.content-sections.section-stl .cvdrs {
    width: 63%;
    right: 0;
}

section.section-main.content-sections.section-stl {
    padding-bottom: 28px;
}

section.section-main.content-sections.section-stl .cards-nts.crts {
    width: 100% !important;
    float: left;
    margin-top: 24px;
}

.green-ars .cavs-area {
    width: 60px;
    height: 27px;
    background: url(../img/cavs.png) 0 0 no-repeat !important;
    margin: 0 auto;
    margin-bottom: 30px;
}

section.section-main.content-sections.section-stl a.buttons {
    float: left;
    margin-top: -51px !important;
    margin-right: 10px !important;
    width: 164px;
}


section.lka-area {
    padding-top: 44px;
    padding-bottom: 55px;
}
section.press-rel h2{
	margin-bottom: 30px;
}

section.cavs-arn {
    margin-bottom: 45px;
}

.green-ars{
	margin-top: -10px;
}

.press-rel {
    background: #E5F7F7;
    padding-top: 30px;
    padding-bottom: 62px;
}
section.real-proj.section-main-9.phx-area{
	padding-bottom: 0 !important;
}
	.green-ars{
		padding-left: 30px !important;
		padding-right: 10px;
	}
	
	.cln-area-full {
    margin-top: 40px;
}
	
	.in-menu-bottom .nav, .laks-ar{
		width: 100% !important;
	}
	
	.in-menu-bottom ul {
    margin-left: 6px;
}

.in-menu-bottom ul li{
	float: left !important;
	clear: none !important;
}

body .uvi-menu .in-menu-bottom .nav-tabs>li>a {
    color: #898989 !important;
    font-size: 14px;
    font-family: "UbuntuBold";
    margin-bottom: 0;
    padding-top: 1px;
}
	
.proc-ar div {
    font-size: 11px;
}
p.bnz-h-area {
    font-family: Arial;
    font-size: 16px;
    margin-bottom: -21px;
    margin-top: 25px;
}

.h1-area .hold-area {
    display: block;
    clear: both;
    font-size: 34px !important;
}
	
	section.section-main-nbs2.section-main-12 h2:before, section.section-main-nbs2.section-main-12 h2:after{
		display: none;
	}
	
	.bl-kls{
		border: 0 !important;
		padding: 10px !important;
	}
	
	.vds-a-1 h2:before, .vds-a-1 h2:after{
		display: none !important;
	}
	
	body .nbz-a {
    display: block;
    color: #1da8a4;
    border-bottom: 1px dotted #1da8a4;
    float: right;
    text-decoration: none !important;
    position: relative;
    right: 18px;
    top: 50%;
    margin-top: 0px;
    font-family: Arial;
    font-size: 12px;
    float: left ;
    margin-left: 19px;
}

	body .nbz-a:hover, body .nbz-a:focus {
    display: block;
    color: #1da8a4;
    border-bottom: 1px dotted #1da8a4;
    float: right;
    text-decoration: none !important;
    position: relative;
    right: 18px;
    top: 50%;
    margin-top: 0px;
    font-family: Arial;
    font-size: 12px;
    float: left ;
    margin-left: 19px;
}
	
	section.section-bn .bnz h5{
		padding-right: 0 !important;
	}
	
	.dblp {
    color: #a7a7a7;
    font-size: 16px;
    font-family: Arial;
    margin-top: 0;
    margin-left: 25px;
    margin-bottom: 35px;
}
	
	
	.merops-cl {
    padding-bottom: 0px;
}

section.uvi-menu{
	padding-bottom: 20px !important;
}
	
	.hrtl-block{
		margin-top: 30px !important;
	}
	
	input.sp-file {
    float: right;
    margin-right: -7px;
    margin-top: -7px;
    position: absolute;
    right: 13px;
}
	.ark-area h4, .colc-inner h5 {
    text-align: center;
}

.bn-area h6{
	line-height: 1.2em;
	margin-bottom: 20px;
}

.bn-area p{
	font-size: 14px;
}

.splits .fll, .splits .flr {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
}
.bn-area{
	padding-left: 20px;
	padding-right: 20px;
}
	
	.tab-f-page li {
    margin-right: 8px;
}

.tab-f-page{
	margin-bottom: 0 !important;
}

.nbv-sp {
    margin-bottom: 61px;
    margin-top: 14px;
}

.clh-area p {
    color: #1c1c1c;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 22px;
    margin-top: -10px;
}

	
	.tab-f-page li a{
		font-size: 11px !important;
	}
	
	.pe1 {
    margin-top: 22px;
}
	
	.tabl-ns .nav-pills li {
    padding: 0 10px;
    margin: 0 -18.5px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.bg-area-gr {
    background: #e4f7f7;
    margin-top: 8px;
    padding: 30px 0px;
    margin-bottom: -10px;
}
	

	
	.txt-area-bl p{
		padding-left: 0 !important;
	}
	
	.txtn-block h5 {
    color: #242424;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 17px;
}

	.otz-bg-main hr {
    margin-top: 25px;
}

.clkp {
    padding-left: 45px;
}

.clkp:before {
    content: '';
    position: absolute;
    width: 32px;
    height: 27px;
    background: url(../img/cavs.png) 0 0 no-repeat !important;
    margin-left: -44px;
    margin-top: 3px;
    background-size: contain !important;
}

.section-main-9.nbvc-section.bnml .tags-down-main {
    margin-bottom: 10px;
}

.otz-bg-main h4 {
    margin-bottom: 22px;
}
	.otz-bg-main {
    background: #3ac6c2;
    color: #fff;
    padding: 21px 24px;
}
	.mrgr {
    margin-top: 35px;
    margin-bottom: 25px;
}

.tover-bg {
    height: 280px;
    background-size: cover !important;
}

.pod-tov h3 {
    margin-top: 30px;
}
	.bg-nrow {
    margin-top: 12px;
    margin-bottom: 17px;
}
	
	.bg-llk .wl-85, .bg-llk .wl-65 {
    width: 100%;
}

body .wl-25 {
    display: block !important;
    width: 100%;
    margin-bottom: 30px;
}

.project-full .borders-ns {
    border: 3px solid #2FB4AF;
    padding: 20px;
    width: 100%;
    padding-top: 49px;
    padding-bottom: 30px;
    height: 244px;
    position: relative;
}
.lv-10 {
    width: 30%;
    margin-right: 14px;
}

.lv-25 {
    width: 65%;
}


.pgh {
    margin-bottom: 42px;
}
	
	 
	.section-main-9.nbvc-section.bnml {
    padding-top: 0;
    padding-bottom: 0 !important;
}

.arr-lf {
    margin-top: -18px;
    margin-bottom: -5px;
    margin-top: -19px;
}

.section-main-9.nbvc-section.bnml h2{
	margin-bottom: 20px !important;
}

.section-main-9.nbvc-section.bnml {
    padding-bottom: 37px !important;
}
	
	p.uv1, p.uv2 {
    font-size: 13px;
}
	
	.arr-lf {
    margin-top: -18px;
    margin-bottom: -14px;
    margin-top: -24px;
}
	
	.nblk-bv {
    padding: 25px 0px;
}
	
	section.section-main-3.section-main-nbvs .tags-down-main a {
    margin-top: 25px;
}
	
	.section-main-nbvs .crda{
	width: 100% !important;
}

.section-main-nbvs .crda .bnz{
	height: auto;
}

section.section-main-3.section-main-nbvs .bzns{
	padding-bottom: 100px;
	height: auto !important;
}
	
	.section-main-8.vid-bg-area {
    padding-top: 20px;
}
	
	.ai-area{
		padding-bottom: 40px;
	}
	
	.stpl, .dbo-nr{
		height: auto !important;
	}
	
	section.section-main-nbs2.section-main-12 .contact-30, section.section-main-nbs2.section-main-12 .contact-35{
		width: 100% !important;
	}
	
	section.section-main-nbs2.section-main-12 {
    padding-top: 0;
}

section.section-main-nbs2.section-main-12 button.buttons {
    margin-bottom: 40px;
}
	
	.proh-area {
    margin-bottom: 24px;
    margin-top: 10px;
}
	
	.n-razdel {
    margin-bottom: 29px;
    margin-top: 0;
}
	.nbv-ce h4{
	margin-top: 0 !important;
}
.projects-baze.vaks-p {
    margin-top: 9px;
}

.info-mers {
    margin-top: 27px;
}

p.form-z {

    margin-top: 0;
    color: #595959;
    font-family: "UbuntuLight";
}
	.p-frts {
    margin-top: 23px;
    margin-bottom: -14px;
}

.p-frts p {
    color: #595959;
    margin-bottom: 16px;
    font-family: "UbuntuLight";
}

.video-frame{
	height: 247px;
}
	
.bg-trl .col-lg-4.col-sm-6.flr {
    float: left;
    margin-left: 0;
    margin-top: 25px;
    padding-right: 15px !important;
    width: 100%;
    padding-left: 15px;
}

.content-sections h1 {
    font-size: 33px;
}
	
	
	.bg-trl {

    padding: 18px;

}
	
	.otclick-area .clk .button {
    background: none;
    font-size: 16px;
    color: #1da8a4 !important;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding-top: 13px;
    padding-right: 17px;
    border-radius: 4px !important;
    text-align: center !important;
    margin-top: 11px;
    width: 100% !important;
    padding-left: 23px;
    text-align: left !important;
    padding-left: 55px;
}
	
	.ai-logo {
    background: url(../img/ai.png) 0 0 no-repeat;
    width: 313px;
    height: 138px;
    margin: 0 auto;
    background-size: contain;
    margin-top: 25px;
    margin-bottom: -20px;
}
	
	section.pods-nt-area {
    background: #fff;
    padding-top: 23px;
    padding-bottom: 48px;
}

section.section-main.content-sections.xpl-section .section-main-11 .container {
    max-width: 696px;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 45px;
}

section.ul-preims {
    padding-bottom: 36px;
}
.post-ntr {
    padding-top: 40px;
    padding-bottom: 0px;
}
	
	.kollage-ls img{
		height: 200px;
	}
	
	.kollage-ls {
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: -15px;
}
	
	.kollage-ls .col-sm-12 {
    margin-top: 0;
}
.kollage-ls img {
    height: 200px;
    margin-bottom: 20px;
}
	
	.ul-preims ul li:after{
		display: none;
	}
	
	
	.ul-preims h5 {
    margin-bottom: 20px;
}
	
	.ulk-ty p {
    margin-bottom: 10px;
}
	
	section.ul-preims h2:before,	section.ul-preims h2:after{
		display: none;
	}
	
	.xpl-section {
    padding-top: 74px !important;
}
	
	.wl-block-sl-left, .wl-block-sl-right{
		width: 100% !important;
	}
	
	.wl-block-sl .h1-area h1, .wl-block-sl .hold-area p{
		text-align: left;
	}
	
	.wl-block-sl .h1-area a.buttons {
    bottom: -91px;
    float: left;
}
	
	.wl-block-sl-left{
		margin-bottom: 15px;
	}
	
	.projects-baze .wl-block-sl-left .h1-area a.buttons {
    position: relative;
    padding-right: 45px;
    right: auto;
    bottom: -48px;
    border-radius: 4px;
    font-size: 14px;
}

.slise-block .slick-slide {
    padding-right: 10px;
}

.slise-block .tlsr:before {
    margin-left: -64px;
}

.tlsr {
    padding-left: 34px !important;
}

a.esh{
	margin-left: 4px;
}

.bg-lks p {
    font-size: 15px;
    line-height: 19px;
}

.tlsr {
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    line-height: 25px;
    padding-left: 54px;
}
	
	.col-sm-9.mlkr {
    padding-left: 0;
    margin-left: 26px;
    margin-right: 26px;
}

.bg-lks ul li {
    width: 50%;
}

.slise-block {
    margin-left: 5px;
    margin-right: 5px;
}

.bg-lks ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    font-size: 0;
    margin-top: 32px;
}
	
	
	.header,.top-menu .cont-ins {
    overflow: hidden;
}
.project-full a.more-pl {
    letter-spacing: 1px;
    position: relative;
    margin-top: 67px;
    margin-bottom: -26px;
}


.wl-85 {
    width: 100%;
    float: left;
    padding-left: 0;
}

.spsq:first-child .border-fx{
	margin-top: 0px;
}
	
	.company-menu a:hover:after {
    content: '';
    position: absolute;
    width: 23px;
    height: 1px;
    background: #fff !important;
    left: 9px;
    margin-top: 8px;
}
	
.bnz h4{
font-family: "Arial";	
}	

.mm-listview>li {
    position: relative;
    font-size: 16px;
}

.splh {
    padding-left: 0px;
    padding-right: 0px;
}

span.kvd {
    margin-right: 4px;
}
	
.tovar-slide {
    padding-top: 23px;
}
.h1-area {
    padding: 22px;
    padding-top: 28px;
    color: #fff;
    border: 6px solid #fff;
    border-left: 0;
    margin-left: 19px;
    margin-right: 19px;
}
	
html, body{
	overflow-x: hidden;
}

.h1-area h1 span {
    clear: both;
    display: block;
    font-size: 37px;
}

.section-main-7 .nav>li>a {
    padding: 7px 15px 20px;
}

div#exTab3 ul.nav.nav-pills {
    display: none;
}

.section-main-9 .slick-next {
    background: url(../img/dfr.png) 0 0 no-repeat !important;
    background-position: center !important;
    right: -21px;
    top: 35%;
}

.section-main-9 .slick-prev {
    background: url(../img/dfl.png) 0 0 no-repeat !important;
    background-position: center !important;
    left: -21px;
    top: 35%;
}

.section-main-11 .container {
    max-width: 696px;
    margin: 0 auto;
    padding-top: 42px;
    padding-bottom: 48px;
}

.h1-area a.buttons {
    position: relative;
    padding-right: 41px;
    right: auto;
    bottom: -48px;
}

.contact-30 {
    width: 100%;
}

.contact-25 {
    width: 100%;
    float: left;
    padding-left: 42px;
    margin-top: 14px;
    margin-bottom: -40px;
}

.section-main-11 .h1-area {
    padding: 30px;
    padding-top: 28px;
    color: #fff;
    border: 6px solid #fff;
    border-left: 0;
    margin-left: 0px;
    margin-right: 0px;
}

.h1-area h1 {
    font-family: "UbuntuLight";
    font-size: 37px;
}

.company-menu {
    width: 100%;
}

.section-main-2 li {
    width: 100%;
}

section.section-main-2 ul li:first-child .slk-sld {
    margin-right: 0;
}


.pod-foot {
    background: #1c1c1c;
    padding: 20px 0 !important;
}

.pod-foot span {
    display: none;
}

.footer-middle{
	display: none;
}

.rasp-area{
	display: none;
}

.slk-sld {
    min-height: 100%;
    margin-bottom: 28px;
}

section.section-main-2 {
    padding-top: 28px;
}

section.section-main {
    padding-top: 94px;
}

.cards-nts{
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.fll.contes p {
    margin-top: 29px;
    font-size: 15px;
}

.cvdrs a.more-pl {
    padding-left: 9px;
}

.crda {
    width: 50%;
}

.bnz h5 {
    font-size: 16px;
    color: #1da8a4;
    margin-top: 14px;
    margin-bottom: 11px;
    line-height: 17px;
    max-height: 149px;
    overflow: hidden;
}
.bnz p {
    font-size: 11px;
}

.section-main-7 h2 {
    color: #fff !important;
    padding-top: 50px;
    margin-bottom: 0px;
}

.swipy-rw {
    position: relative;
    clear: both;
    height: 170px;
    padding-top: 20px;
}

.bnz {
    background: #fff;
    padding: 20px;
    margin: 0 1px;
    height: 360px;
    overflow: hidden;
    position: relative;
}

.section-main-3 {
    background: url(../img/bgp.jpg) 0 0 no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 26px;
    padding-bottom: 26px;
}

section.section-main-4 {
    padding-top: 12px;
    padding-bottom: 45px;
}

h2 {
    text-align: center;
    font-size: 29px;
}

h2:before, 
h2:after {
    margin-top: 18px;
}

.wl-25{
	display: none !important;
}

.wl-65{
	width: 100%;
	padding: 0 !important;
}

.section-main-7 {
    background-size: cover !important;
}

.section-main-7 .nav>li>a span {
    border-bottom: 2px dotted #fff !important;
    font-size: 12px;
}

.mv70, .mv30{
	width: 100%;
}

.pdlsw, .hts3.pdlsw {
    height: auto;
    overflow: hidden;
    padding-bottom: 25px;
}

.nav-pills {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    font-size: 0;
    margin-bottom: -10px;
}

.logo {
    margin-top: 8px;
    width: 180px;
    background-size: contain;
}

.header {
    background: #F3F3F3;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 50px;
}

strong.tel-mob{
	color: #000;
}

.header a span, .header a:before, .header a:after{
	background: #000;
}

.contacts-area.fll p.fll {
    display: none;
}

.contacts-area.fll span{
	display: none;
}

strong.tel-mob {
    color: #000;
    font-size: 11px;
    float: right;
}

.mobile-menu {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    top: 40px;
}

.top-menu {
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
    height: 41px;
}

.ltrs.flr {
    margin-top: -1px;
}

.contacts-area.fll a {
    vertical-align: sub;
    color: #0f9f9b;
    padding-left: 0;
    font-size: 17px;
}

.header a {
    left: 5px;
}
section.section-main-6 {
    padding-top: 5px;
}

h6 {
    margin-bottom: 19px;
}
section.section-main-7 {
    padding-bottom: 50px;
}

.txtl-bl p {
    font-size: 12px;
    font-family: "Arial";
}

.slidy .slick-slide{
	padding-bottom: 30px;
}

.spsq {
    padding-top: 26px;
    padding-left: 28px;
    padding-right: 28px;
}

section.section-main-8 {
    background: #e4f6f6;
    padding-top: 25px;
    padding-bottom: 55px;
}

section.section-main-8 h2 {
    margin-bottom: 0px;
}

.top-menu .container {
    height: 41px;
}

.header, .footer {
    padding: 0 50px;
    padding-right: 17px;
}

strong.tel-mob{
	font-family: "Arial";
	font-size: 14px;
	font-weight: normal !important;
}


.mm-opened .header a {
    display: none;
}

}


@media screen and (min-width: 1200px) { 
	
	
	
body	.h1-area {
    padding: 30px;
    padding-top: 28px;
    color: #fff;
    border: 6px solid #fff;
    border-left: 0;
    margin-left: 320px;
    margin-right: 30px;
}

body .hold-area {
    display: block;
    clear: both;
    font-size: 48px !important;
    margin-left: -255px !important;
}

body .h1-area:after {
    content: '';
    position: absolute;
    left: 0px;
    width: 6px;
    height: 35px;
    background: #fff;
    bottom: 0px;
}

body .section-main-11 .h1-area:after {
    height: 12px;
}


body .wl-block-sl-left .hold-area {
    display: block;
    clear: both;
    font-size: 48px !important;
    margin-left: -323px !important;
}

body .wl-block-sl-right .hold-area {
    display: block;
    clear: both;
    font-size: 48px !important;
    margin-left: -323px !important;
}

.it-kareer .h1-area a.buttons {
    position: relative;
    padding-right: 45px;
    right: auto;
    bottom: 28px;
    border-radius: 4px;
}

body .h1-area:before {
    content: '';
    position: absolute;
    left: 0px;
    width: 6px;
    height: 26px;
    background: #fff;
    top: 0px;
}

body .zkz-art {
    margin-left: 196px;
}

.projects-baze .results {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

    float: left;
}

body .about-f1 .h1-area:after {
    content: '';
    position: absolute;
    left: 0px;
    width: 6px;
    height: 24px;
    background: #fff;
    bottom: 0px;
}


#exTab2sq .tags-n .padded-multiline {
    float: left;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-top: 0;
    border-left: 20px solid #fff;
}	
	section.section-main-12.section-ntls {
    margin-bottom: 25px;
}
	
	.tabl-ns .nav-pills li {
    margin: 0 3.2px !important;
}
	
	
.slider.sldsas-st2.slick-slider .slick-next {
    right: 6px;
    background: url(../img/dfrw.png) 0 0 no-repeat !important;
        top: 55% !important;
}

.slider.sldsas-st2.slick-slider .slick-prev{
	left: 20px;
	  background: url(../img/dflw.png) 0 0 no-repeat !important;
	      top: 55% !important;
}
	
section.section-main.content-sections.section-stl 	.fll.contes {
    height: 195px;
    overflow: hidden;
    margin-left: -6px;
    padding-right: 27px !important;
}

section.section-main.content-sections.section-stl .bty-area {
    margin-top: 26px;
    margin-bottom: 29px;
    margin-left: -5px;
}
	
	.cln-area-full.scroller-b {
    height: 286px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
    margin-top: 73px;
}
	
	.in-menu-bottom ul {
    margin-top: -3px;
}
	
	section.real-proj.section-main-9 {
    padding-top: 5px;
}
	section.ul-preims.hh-white .splx:before {
    content: '';
    position: absolute;
    height: 1px;
    background: #cccccc;
    width: 148px;
    z-index: -1;
    left: auto;
    margin-top: 41px;
    margin-left: 0;
    width: 97.4% !important;
}
	
	.nty-table tr:last-child div{
	border-bottom: 8px solid #f8f8f8;
	height: 80px;
}

.nty-table tr:last-child td{
	border: 0;
}
	
	.nty-table h4 {
    margin-top: 35px;
}
	
	.nty-table tr td:first-child div{
	border-right: 6px solid #fff;
}
	.brr-no{
		display: block;
	}
	
	.bnml{
		padding-bottom: 97px !important;
	}
/*	
	.green-ntc, .section-main-8.vid-bg-area, .nblk-bv, .nx-bg, .company-group-area, .bg-lks, section.section-main.content-sections.xpl-section .section-main-11, section.bg-cls, section.pods-nt-area:nth-child(2n), .section-main-11, .section-main-9, section.section-main-8, section.section-main-7, .section-main-3, .section-ntls, .tover-bg, .nbvc-section, .bg-area-gr, .comp-teams, .uvi-menu, .press-rel, .clke-re {
    border-left: 25px solid #fff;
    border-right: 25px solid #fff;
}
*/

.nblk-bv {
    padding-bottom: 62px;
}
	
	
	.section-main-8.vid-bg-area {
    margin-top: 12px;
}
.section-main-6 .slick-next {
    right: -23px;
}
.section-main-6 .slick-prev {
    left: -23px;
}

.swipy-rw {
    border-bottom: 1px solid #eee;
    padding-top: 33px;
    padding-bottom: 40px;
}

body{
	overflow-x: hidden;
}

.section-main-9 .slick-next {
    background: url(../img/dfr.png) 0 0 no-repeat !important;
    background-position: center !important;
    right: -33px;
    top: 40% !important;
}

.section-main-9 .slick-prev {
    background: url(../img/dfl.png) 0 0 no-repeat !important;
    background-position: center !important;
    left: -32px;
    top: 40% !important;
}

}
@media screen and (min-width: 601px) and (max-width: 767px) {
.contact-30{
	width: 60%;
}

.contact-25 {
    width: 39%;
    float: left;
    padding-left: 67px;
    margin-top: 14px;
    margin-bottom: -40px;
}
}

@media screen and (min-width: 501px) and (max-width: 767px) {
.slider.slider-nav {
    padding-bottom: 19px !important;
}
.company-menu {
    width: 50%;
    margin-top: -16px;
    float: right;
    z-index: -1;
}

.swipy-rw {
    float: left;
    width: 50%;
    margin-top: -241px;
    border: 0;
}

.bnz {
    background: #fff;
    padding: 20px;
    margin: 0 6px;
    height: 360px;
    overflow: hidden;
    position: relative;
}

.bnz p {
    font-size: 13px;
}



}


@media screen and (min-width: 1200px) { 
	
	div#exTab-arw .row {
    margin-left: -17px;
    margin-right: -17px;
}
	
	.ai-logo:before {
    content: '';
    position: absolute;
    width: 338px;
    height: 1px;
    background: #d5d5d5;
    left: 0;
    margin-top: 55px;
}

.ai-logo:after {
    content: '';
    position: absolute;
    width: 338px;
    height: 1px;
    background: #d5d5d5;
    right: 0;
    margin-top: 55px;
}
	
.spsq {
    position: absolute;
    height: 338px;
}

.slidy .slick-list {
    height: 338px;
}
}

@media screen and (min-width: 601px) { 
.n-hdn-xp{
	display: none;
}	
}


@media screen and (max-width: 600px) { 
.ots-area .ul-preims li {
    width: 50% !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

section.ots-area.preim-bnz {
    padding-top: 5px;
}

section.ots-area.preim-bnz .ul-preims {
    margin-top: 0px;
}

section.ots-area {
    padding-top: 40px;
    padding-bottom: 0;
}
	
	.search-ntc input{
		width: 70% !important;
	}
	
	.search-ntc .button-stls{
		width: 29% !important;
	}
	
.projects-baze ul li {
    width: 100%;
    float: left;
}

.txl-im-block img {
    float: left !important;
    padding-right: 0;
    width: 100%;
    margin-bottom: 17px;
}

.map-ls{
	height: 230px !important;
}

.projects-baze{
	margin-top: 15px !important;
}

.nbv-container {
    position: relative;
    width: 100%;
    margin-top: -4px;
    margin-bottom: -2px;
}

.hdn-xp{
	display: none;
}


}

@media screen and (min-width: 768px) and (max-width: 1199px) { 
.bnz h5 {
    font-size: 16px;
    line-height: 17px;
}
#exTab2sq .tags-n .padded-multiline {
    float: left;
    padding-top: 6px;
    padding-bottom: 4px;
    margin-top: 0;
    border-left: 20px solid #fff;
}

}
@media screen and (min-width: 768px) {
	
	.merops-area .cards-nts.crts.fll {
    height: 552px;
}

.merops-area .crts .cvdrs {
    height: 506px;
}

.merops-area .cards-nts.crts.fll .nn-tags {
    margin-top: 20px;
    position: absolute;
    bottom: auto;
    margin-left: 45px;
    top: 160px;
}

.merops-area .cards-nts.crts.fll .cvdrs:after {
    position: absolute;
    content: '';
    width: 4px;
    height: 299px;
    background: #fff;
    margin-left: -40px;
    margin-top: -42px;
    bottom: 0;
}
	
.h2-white{
background: #fff !important;	
position: relative;
z-index: 2;
}

.h2-white:after, .h2-white:before{
	display: none !important;
}

.hh-white{
	position: relative;
}


	
.class-nop-r{
	padding-right: 0 !important;
}
.class-nop-l{
	padding-left: 0 !important;
}	
}


@media screen and (min-width: 768px) and (max-width: 991px) { 
body .section-main-nbs2 textarea {
    height: 318px !important;
}
}

@media screen and (max-width: 499px) { 
.bnl {
    padding: 20px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
    border-top: 4px solid #1da8a4;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}


.tags-n .padded-multiline {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    border-left: 20px solid #fff;
    line-height: 13px;
}

.plm-ml .w20s .pdlsw {
    padding: 12px; 
    }

.crm-select li {
    padding: 10px;
    margin: 0 -6px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: -9px;
}

.tab-content .tags-n .padded-multiline {
    float: left;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-top: 0;
    border-left: 20px solid #fff;
    line-height: 13px;
}
}

@media screen and (max-device-width: 499px) { 
.tags-n .padded-multiline {
    float: left;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-top: 0;
    border-left: 20px solid #fff;
    line-height: 13px;
}
}
@media screen and (min-width: 992px) and (max-width: 1199px) { 
.crm-select li {
    padding: 10px;
    margin: 0 -6px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 247px;
}

section.section-main.content-sections.about-company-page .hold-area p {
    margin-bottom: -25px;
}

.tab-content .tags-n .padded-multiline {
    padding-top: 6px !important;
    padding-bottom: 5px !important;
}

.tags-n .padded-multiline {
    padding-top: 4px !important;
    padding-bottom: 6px !important;
}

}

@media screen and (min-width: 500px) and (max-width: 767px) {
.tags-n .padded-multiline {
    padding-top: 1px !important;
    padding-bottom: 4px !important;
}

}
@media screen and (min-width:768px) and (max-width: 991px) { 
	
	.about-f1 .h1-area h1 {
    font-family: "UbuntuLight";
    font-size: 30px;
}

.section-main-5.plm-ml .tags-n .padded-multiline {
    float: left;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-top: 0;
    border-left: 20px solid #fff;
}

section.section-main.content-sections.about-company-page .hold-area p {
    margin-bottom: -25px;
}
	
 .project-full  a.more-pl {
    margin-top: 0px;
    display: block;
    padding-left: 50px;
    position: relative !important;
    bottom: 0px !important;
}
}


section.section-main-9.merops-area .nav-tabs>li>a{
	border-color: #E4F7F7 !important;
}


body .wl-block-sl-left .hold-area {
    display: block;
    clear: both;
    font-size: 48px !important;
    margin-left: -198px !important;
}

body .wl-block-sl-right .hold-area {
    display: block;
    clear: both;
    font-size: 48px !important;
    margin-left: -198px !important;
}



	@media (max-width: 1199px) { 
		.it-kareer .h1-area:before, .it-kareer .h1-area:after{
			display: none !important;
		}
		
		.wl-block-sl .h1-area{
			border: 0 !important;
		}
		
		
		.wl-block-sl  .hold-area {
    display: block;
    clear: both;
   
    margin-left: 0 !important;
}

.wl-block-sl .h1-area {
    max-width: 100% !important;
    margin: 0 auto;
}
		
		body .wl-block-sl-left .h1-area, body .wl-block-sl-right .h1-area {
    padding: 30px;
    padding-top: 28px;
    color: #fff;
    border: 0px solid #fff;
    border-left: 0;
    margin-left: 223px;
    margin-right: 30px;
}

	.it-kareer .hold-area p {
    font-family: 'Open Sans';
    font-size: 13px;
    padding-top: 20px;
}



	}

@media (max-width: 991px) { 
.it-kareer .wl-block-sl .h1-area a.buttons {
    position: relative;
    padding-right: 45px;
    right: auto;
    bottom: -8px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 19px;
}
}
@media (max-width: 767px) { 
.it-kareer .wl-block-sl .h1-area a.buttons {
    position: absolute;
    padding-right: 45px;
    right: auto;
    bottom: -112px;
    border-radius: 4px;
   font-size: 12px !important;
    line-height: 19px;
}
.wl-block-sl, .wl-block-sl-left, .wl-block-sl-right{
    padding-top: 15px !important;
}

.projects-baze .wl-block-sl-left .h1-area a.buttons{
	font-size: 12px !important;
}

.wl-block-sl-left  a.buttons:after, .wl-block-sl-right  a.buttons:after {
    top: -3px;
}

}

@media (min-width: 1200px) { 
.wl-block-sl .h1-area {
    max-width: 443px;
    margin: 0 auto;
    margin-right: 218px !important;
}
}